<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletCargaCierre</servlet-name>
        <servlet-class>Servlets.ServletCargaCierre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaChofer</servlet-name>
        <servlet-class>Servlets.ServletListaChofer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReporte1</servlet-name>
        <servlet-class>Servlets.ServletReporte1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReporte2</servlet-name>
        <servlet-class>Servlets.ServletReporte2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCargaCierre</servlet-name>
        <url-pattern>/ServletCargaCierre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaChofer</servlet-name>
        <url-pattern>/ServletListaChofer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReporte1</servlet-name>
        <url-pattern>/ServletReporte1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReporte2</servlet-name>
        <url-pattern>/ServletReporte2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
